body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: black;
  }
  
  form {
    color: #FFFFFF;
  }

  .container {
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 24px;
  }

  img {
    height: 10%;
    width: auto;
  }

  button {
    border-radius: 16px;
    background-color: #aa381e;
    color: #FFFFFF;
    padding: 10px;
  }

  h1 {
    font-family: Chewy;
    color: #EBE145;
    margin-top: 80px;
    font-size: 40px;
}

input[type=submit] {
  font-family: Merriweather;
  background-color: red;
  height: 50px;
  color: white;
  width: 325px;
  font-size: 20px;
}

#main {
  background-color: #2A2B2D;
  vertical-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

input[type=text] {
    height: 50px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

  @keyframes firework-animation {
    0% {
      background-color: #ff8426;
    }
    25% {
      background-color: #fffc84;
    }
    50% {
      background-color: #ff83f4;
    }
    75% {
      background-color: #83b6ff;
    }
    100% {
      background-color: #ff8426;
    }
  }
  @-webkit-keyframes firework-animation {
    0% {
      background-color: #ff8426;
    }
    25% {
      background-color: #fffc84;
    }
    50% {
      background-color: #ff83f4;
    }
    75% {
      background-color: #83b6ff;
    }
    100% {
      background-color: #ff8426;
    }
  }
  @keyframes firework-seed-animation {
    0% {
      background-color: #ff8426;
    }
    25% {
      background-color: #fffc84;
    }
    100% {
      background-color: #ff8426;
    }
  }
  @-webkit-keyframes firework-seed-animation {
    0% {
      background-color: #ff8426;
    }
    25% {
      background-color: #fffc84;
    }
    100% {
      background-color: #ff8426;
    }
  }
  @keyframes firework-fade-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes firework-fade-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fireWorkBatch {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: firework-fade-animation;
    animation-timing-function: cubic-bezier(0.5, 0, 1 1);
    animation-duration: 2.5s;
  }
  .fireWorkParticle {
    z-index: 999;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    animation-name: firework-animation;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .fireWorkSeed {
    z-index: 999;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    animation-name: firework-seed-animation;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }