body {
    background-image: url(https://images.unsplash.com/photo-1569983207103-78d3b4dddcac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    color: #EBE145;
    font-family: Chewy;
    text-align: center;
    padding-top: 10px;
  }
  
  input[type=text], select {
    width: 20%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Merriweather;
  }
  
  input[type=password], select {
   width: 20%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Merriweather;
  }
  
  
  label {
      color:#EBE145;
      font-family: Merriweather;
  }
  
  .button {
    background-color: #FF0000;
    border-radius: 4px;
    color: white;
    font-family: Merriweather;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    top: 250px;
    right: 45%;
  }
  
  .g-signin2 {
    width: 20%;
    padding: 6px 10px;
    margin: 10px 0;
    position: absolute;
    top: 75px;
    right: 350px;
  }
  
  p  {
    color:#EBE145;
     font-family: Merriweather;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 5px;
  }
  
  .main {
    text-align: center;
    position: relative;
    background-color: #2A2B2D; 
    opacity: 0.9;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
  }